@import 'tailwindcss';
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* White 계열 */
  --color-w1: #f6f6f6;
  --color-w2: #ededed;
  --color-w3: #fafafa;
  --color-w4: #f0f0f0;
  --color-w5: #eaeaea;
  --color-w6: #efefef;

  /* Black & Gray 계열 */
  --color-b1: #3c3c3c;
  --color-b2: #4c4c4c;
  --color-b3: #5a5a62;
  --color-g1: #919191;
  --color-g2: #b8b8b8;
  --color-g3: #c7c7c7;
  --color-g4: #d8d8d8;

  /* Green 계열 */
  --color-gn1: #80a281;
  --color-gn2: rgba(128, 162, 129, 0.7); /* 70% */
  --color-gn3: rgba(128, 162, 129, 0.4); /* 40% */
  --color-gn4: rgba(128, 162, 129, 0.2); /* 20% */
  --color-gn5: #79987a;
  --color-gn6: #a5d0a6;
  --color-gn7: #b2d8b3;
  --color-gn8: rgba(178, 216, 179, 0.3);
  --color-gn9: #afc6af;
  --color-gn10: #bbccbb;
  --color-gn11: #e7e9e7;
  --color-gn12: #627262;

  /* Red / Yellow / Blue */
  --color-r: #ed9092;
  --color-y: #fee500; /* 카카오 노랑 */
  --color-bl: #658eff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
}

input[type='range'] {
  @apply absolute w-full bg-transparent appearance-none;
}

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 rounded-full bg-[#80a281] cursor-pointer;
  pointer-events: auto;
}

input[type='range']::-moz-range-thumb {
  @apply w-4 h-4 rounded-full bg-[#80a281] cursor-pointer;
  pointer-events: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: pretendard;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Pretendard-Black.woff2) format('woff2'), url(/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Pretendard-Bold.woff2) format('woff2'), url(/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Pretendard-Medium.woff2) format('woff2'), url(/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Pretendard-Regular.woff2) format('woff2'), url(/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Pretendard-Light.woff2) format('woff2'), url(/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(/fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Pretendard-Thin.woff2) format('woff2'), url(/fonts/Pretendard-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Kkubulim';
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/AnyConv.com__BMKkubulimTTF.woff2) format('woff2'), url(/fonts/BMKkubulimTTF.woff) format('woff');
}
